<div class="container text-center">
  <h4>Mes candidatures</h4>
</div>
<div class="container">
  <% if @candidacies != [] %>
    <div class="dashbord">
      <% @candidacies.each do |candidacy| %>
        <%= link_to candidacy_path(candidacy.id) do %>
          <div class="message">
            <div class="message-name">
              <h3><strong><%= candidacy.offer.job_name || candidacy.offer.formation_name %></strong></h3>
              <p><%= candidacy.created_at.day %>/<%= candidacy.created_at.month %>/<%= candidacy.created_at.year %></p>
            </div>
            <div class="message-body hidden-xs">
              <p><%= candidacy.offer.company.name %></p>
              <p><%= candidacy.offer.company.sector %></p>
            </div>
            <div class="message-status">
              <% if candidacy.offer.job? %>
                <p class="status emploi">Emploi</p>
              <% else %>
                <p class="status formation">Formation</p>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <h4>Vous avez aucune candidature en cours</h4>
  <% end %>
</div>
