<div class="container">
  <div class="text-center">
    <h1><%= current_company.name %></h1>
    <h4><%= current_company.sector %></h4>
    <p><%= current_company.description %></p>
  </div>

  <div>
    <% if @jobs != [] %>
      <p>Liste de vos offres d'emploies</p>
      <% @jobs.each do |job| %>
        <ul>
          <li><%= link_to job.job_name, company_offer_path(job.id) %></li>
        </ul>
      <% end %>
    <% end %>

    <% if @formations != [] %>
    <p>Liste de vos formations</p>
      <% @formations.each do |formation| %>
        <ul>
          <li><%= link_to formation.formation_name, company_offer_path(formation.id) %></li>
        </ul>
      <% end %>
    <% end %>
  </div>

  <div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Creer une nouvelle offre
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div>
              <%= simple_form_for [:company, @offer] do |f| %>
                <%= f.input :job,:as => :boolean, :input_html => { :checked => "checked" } %>
                <%= f.button :submit, "Offre d'emploi", class: 'btn btn-danger btn-block' %>
              <% end %>
            </div>
            <div>
              <%= simple_form_for [:company, @offer] do |f| %>
                <%= f.input :job,:as => :boolean, :input_html => { :checked => "unchecked" } %>
                <%= f.button :submit, "Offre de formation", class: 'btn btn-danger btn-block' %>
              <% end %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Annuler</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <%= link_to "Acceuil", root_path, class: "btn btn-default" %>
  </div>
</div>
