<div class="container">
  <div class="text-center">
    <h1><%= current_company.name %></h1>
    <h4><%= current_company.sector %></h4>
    <p><%= current_company.description %></p>
  </div>
  <br>
  <div>
    <% if @jobs != [] %>
      <h4>Liste de vos offres d'emploies</h4>
      <div class="dashbord">
        <% @jobs.each do |job| %>
          <%= link_to company_offer_path(job.id) do %>
            <div class="message">
              <div class="message-name">
                <h3><strong><%= job.job_name %></strong></h3>
              </div>
              <div class="message-body hidden-xs">
                <p><%= job.job_description %></p>
              </div>
              <div class="message-status">
                <p><%= job.contract %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% if @formations != [] %>
      <h4>Liste de vos formations</h4>
      <div class="dashbord">
        <% @formations.each do |formation| %>
          <%= link_to company_offer_path(formation.id) do %>
            <div class="message">
              <div class="message-name">
                <h3><strong><%= formation.formation_name %></strong></h3>
              </div>
              <div class="message-body hidden-xs">
                <p><%= formation.formation_description %></p>
              </div>
              <div class="message-status">
                <p><%= formation.degree %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <br>
  <div class="text-center">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Creer une nouvelle offre
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div>
              <%= simple_form_for [:company, @offer] do |f| %>
                <%= f.input :job,:as => :boolean, :input_html => { :checked => "checked" } %>
                <%= f.button :submit, "Offre d'emploi", class: 'btn btn-danger btn-block' %>
              <% end %>
            </div>
            <div>
              <%= simple_form_for [:company, @offer] do |f| %>
                <%= f.input :job,:as => :boolean, :input_html => { :checked => "unchecked" } %>
                <%= f.button :submit, "Offre de formation", class: 'btn btn-danger btn-block' %>
              <% end %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Annuler</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class=text-center>
    <%= link_to "Acceuil", root_path, class: "btn btn-default" %>
  </div>
</div>
