<div class="container">
  <div class="text_center">
    <h2><%= @offer.job_name || @offer.formation_name %> #<%= @offer.id %></h2>
    <h4><%= @offer.job_description || @offer.formation_description %></h4>
  </div>

  <div>
    <% @candidacies.each do |candidacy| %>
      <ul>
        <li>
          <%= link_to company_candidacy_path(candidacy.id) do %>
            <%= candidacy.jobseeker.first_name %>
            <%= candidacy.jobseeker.last_name %> -
            <%= candidacy.jobseeker.profession %> -
            <%= candidacy.jobseeker.address %>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>

  <%= link_to 'Retour', company_offers_path, class: "btn btn-primary" %>
</div>
